<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- Loads in JQUERY -->
    <script src="javascripts/main.js"></script> <!-- Main JS -->
</head>
<body>
    <header>
        PAPERTRADER
    </header>
    <div>
        <div class="overview">
            <div class="index">
                <div class="indtick">DJIA</div>
                <div id="DJIA">25,901.54</div>
            </div>
            <div class="index">
                <div class="indtick">S&P 500</div>
                <div id="SP">2,893.02</div>
            </div>
            <div class="index">
                <div class="indtick">NASDAQ</div>
                <div id="NASDAQ">8,092.02</div>
            </div>
            <div class="index">
                <div class="indtick">Russell 2000</div>
                <div id="Russell">1,734.60</div>
            </div>
        </div>
    </div>
    <div>
        
    </div>
</body>
</html>